@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
    @apply bg-[#0a192f];
  }
  li {
    @apply cursor-pointer hover:text-[#54AFE7] transition-all duration-300;
  }
}

.skill-shadow {
  box-shadow: 1px 0px 7px 0px rgba(60,122,161,0.75);
-webkit-box-shadow: 1px 0px 7px 0px rgba(60,122,161,0.75);
-moz-box-shadow: 1px 0px 7px 0px rgba(60,122,161,0.75);
}
